// Vendor
@import '../vendor/cropper/cropper.min';
// @import '../vendor/suneditor/suneditor.min';

// Helpers
@import 'helpers/_fixes';
@import 'helpers/tokens';
@import 'helpers/reset';

// Componentes
@import 'components/_header';
@import 'components/_CKEditor';
@import 'components/_slds-button';
@import 'components/_slds-tabs';
@import 'components/_fielosf-menu';
@import 'components/_slds-images';
@import 'components/_slds-form';
@import 'components/_slds-modal';
@import 'components/_fielosf-photoupload';
@import 'components/_multiselect';
@import 'components/_fielosf-filter';
@import 'components/_picklist';
@import 'components/_fielosf-related';

.disabled {
  pointer-events: none;
  opacity: 0.8;
}

.fielosf {
  .slds-spinner_container {
    z-index: 99999;
  }

  .fielosf-small {
    width: 100%;
  }

  .fielosf-date-picker {
    display: none;
  }

  .slds-input-has-icon .fielosf-date-picker--faux.slds-input__icon {
    top: 9px;
    width: 30px;
    padding: 4px 6px;
    height: 30px;
    right: 4px;
    cursor: pointer;
  }

  .slds-form-element__control.slds-has-divider--bottom {
    min-height: 37px;
  }

  .slds-notify_container{
    width: 50%;
    left: 25%;
  }
}

@media (min-width: 20em) {
  .fielosf {
    .fielosf-small {
      width: 50%;
    }
  }
}

@media (min-width: 30em) {
  .fielosf {
    .fielosf-small {
      width: 144px;
    }
  }
}
