.fielosf {
  .slds-card__header {
    display: table;
    width: 100%;

    .slds-media,
    .slds-no-flex {
      display: table-cell;
    }

    .slds-no-flex {
      text-align: right;
    }
  }
}
