.fielosf {
  // Arregla los breadcrumbs
  .fielo-breadcrumb {
    .slds-breadcrumb .slds-list__item {
      display: inline;
      padding: 0;
      margin: 0 8px 0 0;

      &::before {
        left: -8px;
      }

      > a {
        display: inline;
        padding: 0 3px;
      }
    }
  }
}

.fielosf-header .slds-dropdown__item > a.delete {
  margin: 2px 10px;
  padding: 0 10px;

  &:hover {
    background-color: #da160d;
  }
}
