.fielosf {
  /* Pone los estilos de boton a los divs para tener compatibilidad ya que
   un anchor dentro de un boton no hace click */
  .slds-button {
    align-items: flex-start;
    cursor: pointer;
    text-align: center;
  }

  /* Agrega el borde al selector del program */
  .slds-button-group .slds-text-heading--label-top + * {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid #d8dde6;
  }

  /* Bugfix al borde de la izquierda de un grupo de botonera
   porque Salesforce agrega un script */
  .slds-button-group script:first-child + .slds-button {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid #d8dde6;
  }

  // Agrega color blanco al boton
  .slds-button--white {
    color: #fff;

    &:hover {
      color: #ccc;
    }
  }

  // alinea verticalmente el primer boton
  .slds-button--icon-border {
    line-height: 1.875rem;
  }

  // Lleva el boton al ancho máximo
  .slds-button--expand {
    width: 100%;
  }

  .slds-button--destructive.slds-button {
    border-color: #d8dde6;
    color: #fff;

    &:hover {
      border-color: $color-destructive;
      background-color: transparent;
      color: $color-destructive;
      font-weight: bold;
    }
  }

  .fielosf-button--border-left {
    padding: 0 2px 0 0;
    border-right: none;
  }
}
