/* Quita el padding que agrega Salesforce para que se vea integrado */
html body.sfdcBody {
  padding: 0;
}

/*  quita padding al marco de la landing */
#bodyCell {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

.fielosf {
  /* Quita el borde superior a la tabla */
  .slds-table--bordered-without-top,
  .slds-table--bordered-without-top thead th {
    border-top: none;
  }

  /* Quita el margen del dropdown para que el mouse over ande */
  .slds-dropdown,
  .slds-dropdown[class*=slds-nubbin--top] {
    margin-top: 0;
  }

  .show {
    display: block;
  }

  // Posiciona de forma relativa a los notiyfy y a otros elementos
  .slds-notify-container--relative,
  .slds--relative {
    position: relative;
  }

  // Quita margen al formulario
  .slds-form-element--no-margin {
    margin: 0;
  }

  // Agrega borde gris
  .slds-b-bottom--xxx-small-solid-grey {
    border-bottom: 1px solid #ccc;
  }

  label {
    font-size: 10px;
  }

  i {
    border: 1px solid transparent;
  }

  .slds-form-element__control .slds-checkbox.slds-hide,
  .slds-form-element__control .slds-radio.slds-hide {
    display: none;
  }

  .slds-spinner_container {
    position: fixed;
  }

  .slds-popover {
    white-space: initial;
  }
  // Date picker dentro de una tabla, se le cambia el padding original
  .slds-datepicker td {
    padding: 0.25rem;
  }

  .slds-checkbox--toggle .slds-form-element__icon {
    margin-left: 10px;
  }

  .slds-dropdown__item > a.slds-hide {
    display: none;
  }

  .slds-list_horizontal {
    display: flex;
  }
}

/************************* Salesforce classic fixes ************************/

.fielosf {
  .secondaryPalette.bPageBlock,
  .bPageBlock {
    border: none;
    background: none;
  }

  .pbSubheader {
    background-color: transparent;
    cursor: pointer;

    h3 {
      display: inline;
      color: #27282e;
    }
  }
}

.noSidebarCell {
  padding: 0;
}

body .bPageBlock .pbBody {
  > div {
    border-radius: 5px;
    border: 1px solid;
    border-color: #ccc;
    padding: 10px 8px;
    margin-bottom: 12px;

    &:hover {
      background-color: #e7eaec;
    }
  }

  .pbSubheader {
    .hideListButton {
      background-position: -99px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 9px solid #000;
    }

    .showListButton {
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 9px solid #000;
    }
  }
}
