$border-width-thin: 1px;
$color-background-alt: #fff;
$color-background-image-overlay: rgba(0, 0, 0, 0.4);
$color-background: #f4f6f9;
$color-border-separator: #f4f6f9;
$color-text-inverse: #fff;
$color-destructive:#c23934;
$shadow-image: 0 1px 1px rgba(0, 0, 0, 0.16);
$spacing-x-small: 0.5rem;
$square-icon-large-content: 2rem;
